.icon-a {
	position: fixed;
	bottom: 5vh;
	left: 5vw;
	width: 5vw;
	height: auto;
	cursor: pointer;
	transition: transform 0.25s ease, fill 0.25s ease;
}

.icon-a:hover {
	transform: scale(1.5);
    fill: var(--hover);
}