<section class="c" id="c" *ngIf="!AuthService.isAuthorized()">
    <div class="text-45">we are<br>virtual cats cafe</div>
    <div class="container">
        <div class="container-item">
            <img src="./secs/sec-c/test.png" alt="img-c" class="img-c">
            <hr>
            <div class="text-35">preferences</div>
                <hr>
                <div class="text-2">cats available<br>moods and melodies</div>
        </div>
        <div class="container-item">
            <img src="./secs/sec-c/test.png" alt="img-c" class="img-c">
            <hr>
            <div class="text-35">connection</div>
                <hr>
                <div class="text-2">share experiences<br>alongside strangers</div>
        </div>
        <div class="container-item">
            <img src="./secs/sec-c/test.png" alt="img-c" class="img-c">
                <hr>
            <div class="text-35">soundscapes</div>
                <hr>
                <div class="text-2">music sets moods<br>choose cats prudently</div>
        </div>
    </div>
</section>