<section class="f" id="f" *ngIf="showSecF && isAuthorized()">
  <div class="text-45">whiskers wonderland</div>
  <div class="text-2">unwind with music and conversations</div>
  <div class="text-3">whats up ! whiskers</div>
  <div class="broadcast"></div>
  <div class="container">
    <div class="container-item" *ngFor="let cat of cats; let i = index; trackBy: trackByCatId">
      <img [src]="cat.imgSrc" alt="img-f" class="img-f" [class.selected]="choosebtn[i]">
      <hr>
      <div class="text-35">{{ cat.name }}</div>
      <div class="text-2">{{ cat.attribute }}</div>
      <hr>
      <button 
        class="choosebtn" 
        (click)="choose(cat, i)" 
        [class.selected]="choosebtn[i]"
        [disabled]="choosebtn[i]">
        {{ choosebtn[i] ? 'chosen' : 'choose' }}
      </button>
      <!-- YouTube player div for each cat -->
      <div id="youtube-player-{{ i }}" style="display:none"></div>
    </div>
  </div>
  <button class="readybtn" (click)="ready()">start a chat</button>
</section>
