.f section {
    height: 200vh;
}

.f .text-3 {
    margin: 2vw auto;
}

.f img {
    max-width: 500px;
    margin: 0 auto;
}

.f .container-item {
    width: 22%;
}

.f .choosebtn {
    padding: 2vw 2vw;
}

.f .choosebtn.selected {
    background-color: var(--gray);
    border: 0.1vw solid var(--black);
}