<div class="popup" *ngIf="isAuthorized && showSetting">
  <div class="setting-container">
    <div class="close-btn" (click)="closeSetting()">
      <svg xmlns="http://www.w3.org/2000/svg" height="55px" viewBox="0 -960 960 960" width="55px" fill="#000000" class="close-left">
        <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
      </svg>
    </div>
    <div class="close-btn" (click)="closeSetting()">
      <svg xmlns="http://www.w3.org/2000/svg" height="55px" viewBox="0 -960 960 960" width="55px" fill="#000000" class="close-right">
        <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
      </svg>
    </div>
    <div class="text-45">soundscapes</div>
  </div>
</div>