.setting-container {
    width: 60vw;
    max-width: 600px;
    height: 60vh;
    max-height: 600px;
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background);
    border: 0.2vw solid var(--black);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}