<section class="d" id="d" *ngIf="!AuthService.isAuthorized()">
	<div class="text-45">companion introduction</div>
    <div class="container">
        <div class="container-item">
            <img src="./secs/sec-d/test.png" alt="img-d" class="img-d">
            <hr>
            <div class="text-35">rat</div>
                <div class="text-2">energetic</div>
                <hr>
        </div>
        <div class="container-item">
            <img src="./secs/sec-d/test.png" alt="img-d" class="img-d">
            <hr>
            <div class="text-35">heow</div>
                <div class="text-2">relaxing</div>
                <hr>
        </div>
        <div class="container-item">
            <img src="./secs/sec-d/test.png" alt="img-d" class="img-d">
            <hr>
            <div class="text-35">taawan</div>
                <div class="text-2">adorable</div>
                <hr>
        </div>
        <div class="container-item">
            <img src="./secs/sec-d/test.png" alt="img-d" class="img-d">
            <hr>
            <div class="text-35">oreo</div>
                <div class="text-2">heartwarming</div>
                <hr>
        </div>
    </div>
</section>