<section class="g" id="g" *ngIf="ready">
  <div class="text-45">whiskers wonderland</div>
  <div class="text-2">unwind with music and conversations</div>
  <div class="text-3">{{ choose?.name }}'s chatroom</div>
  <div class="broadcast"></div>
  <div class="container">
    <div class="container-item">
      <img src="./secs/sec-g/test.png" alt="img-g" class="img-g">
    </div>
    <div class="container-item">
      <div class="chatroom"></div>
    </div>
    <div class="container-item">
      <img src="./secs/sec-g/test.png" alt="img-g" class="img-g">
    </div>
  </div>
  <button class="backbtn" (click)="back()">return back</button>
</section>