<div class="popup" *ngIf="isAuthorized && showWriting">
	<div class="note-container">
		<div class="leftside">
			<div class="close-btn" (click)="closeNote()">
				<svg xmlns="http://www.w3.org/2000/svg" height="55px" viewBox="0 -960 960 960" width="55px" fill="#000000" class="close-left">
					<path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
				</svg>
			</div>
			<div class="leftside-container">
				<div class="text-45">broadcast</div>
				<div class="note-item">
					<input type="text" placeholder="FROM">
					<textarea class="broadcast" placeholder="WHATS ON YOUR MIND"></textarea>
					<input type="text" placeholder="TO">
				</div>
				<button type="submit" class="submit-btn">share</button>
			</div>
		</div>
		<div class="middleside"></div>
		<div class="rightside">
			<div class="close-btn" (click)="closeNote()">
				<svg xmlns="http://www.w3.org/2000/svg" height="55px" viewBox="0 -960 960 960" width="55px" fill="#000000" class="close-right">
					<path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
				</svg>
			</div>
			<div class="rightside-container">
				<div class="text-45">hashtag</div>
				<div class="note-item">
					<textarea class="hashtag" placeholder="FEEDBACK"></textarea>
				</div>
				<button type="submit" class="submit-btn">submit</button>
			</div>
		</div>
	</div>
</div>