<div class="popup" *ngIf="showRegis">
	<div class="authen-container">
		<div class="close-btn" (click)="closeRegis()">
			<svg xmlns="http://www.w3.org/2000/svg" height="55px" viewBox="0 -960 960 960" width="55px" fill="#000000" class="close-left">
				<path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
			</svg>
		</div>
		<div class="close-btn" (click)="closeRegis()">
			<svg xmlns="http://www.w3.org/2000/svg" height="55px" viewBox="http://www.w3.org/2000/svg" width="55px" fill="#000000" class="close-right">
				<path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
			</svg>
		</div>
		<div class="text-45">register</div>
		<form class="authen-content" (ngSubmit)="submit()">
			<div class="authen-item">
				<div class="material-symbols-outlined">mail</div>
				<input type="email" name="email" [(ngModel)]="email" placeholder="email" required>
			</div>
			<div class="authen-item">
				<div class="material-symbols-outlined">alternate_email</div>
				<input type="password" name="password" [(ngModel)]="password" placeholder="password" required>
			</div>
			<button type="submit" class="submit-btn">enter here</button>
			<div class="authen-btn" (click)="auth('login')">already have an account</div>
		</form>
	</div>
</div>